<!DOCTYPE html>
<html lang="ru">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'login.css'%}" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Авторизация</title>
  </head>
  <body class="back">
    <div class="mid">
      <form method="post">
        {% csrf_token %}
        <div class="top-field">
          <p class="text">Авторизация</p>
        </div>
        <div class="under-mid">
          <p class="login_info text ccc">Логин</p>
          <input type="text" class="login_info zxc" name="login" required />
          <p class="login_info text ccc">Пароль</p>
          <input
            type="password"
            class="login_info zxc"
            name="password"
            required
          />
          <button class="button">Войти</button>
          <p class="error">{{login_error}}</p>
        </div>
      </form>
    </div>
  </body>
</html>
