.navbar {
  background-color: rgb(200, 200, 200);
  margin: 0;
  padding: 1rem;
}

.top-field {
  background-color: rgb(100, 200, 255);
  margin: auto;
  margin-top: 10rem;
  height: 3rem;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  padding-top: 1rem;
}

.choosefield {
  background-color: rgba(245, 245, 245, 0.849);
  margin: auto;
  height: 25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}

.reg-info {
  font-size: medium;
  padding: 1rem;
  border: 0;
  display: block;
  width: 80%;
  margin: auto;
  text-align: center;
  border-radius: 0.4rem;
}

.reg-info-second {
  font-size: medium;
  padding: 1rem;
  border: 0;
  display: block;
  width: 89%;
  margin: auto;
  text-align: center;
  border-radius: 0.4rem;
}

.button {
  font-size: medium;
  padding: 1rem;
  border: 0;
  display: block;
  width: 89%;
  height: 15%;
  margin: auto;
  margin-top: 3%;
  border-radius: 0.4rem;
  background-color: rgb(100, 200, 255);
}

.button:active {
  transform: scale(0.95);
  font-size: medium;
  padding: 1rem;
  display: block;
  width: 87%;
  height: 13%;
  margin: auto;
  margin-top: 4%;
  border-radius: 0.4rem;
  background-color: rgb(70, 170, 225);
}

.text {
  text-align: center;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

.text-xlarge {
  font-size: x-large !important;
  margin: 0 !important;
}

.text-style {
  margin-top: 1%;
  margin-bottom: 1%;
}

.background {
  background-image: url("autoschool.png");
  margin: 0;
}

.big-mid-field {
  margin: auto !important;
  width: 25%;
  height: auto;
  scale: 115%;
}

.enter {
  margin-left: 5%;
  margin: auto;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large !important;
}
